* {
    box-sizing: border-box;
}

.hamnav {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.hamnav a {
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
}

.hamnav a:hover {
    color: red;
}

.blog {
    color: red;
}

main {
    border: 2px solid red;
    display: flex;
    justify-content: center;
}


.hambur {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
}

input {
    display: none;
}

input:checked ~ nav .hamnav {
    transform: translateY(0);
    transition: .6s;

}

.contain {
    border: 1px solid blue;
    width: 68%;
}

.maindata {
    border: 2px solid violet;
    display: flex;
    flex-direction: column;
}

.data1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.data2 {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.data3 {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.data4 {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
}

.icon {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

/* work */

.data5 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content5 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.year {
    border: 1px solid navy;
    border-radius: 5px;
    background-color: navy;
    color: white;
    width: 50px;
    height: 15px;
    text-align: center;
}

.midcontent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.data6 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content6 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.data7 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content7 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.data8 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content8 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

/* contact */

.profile {
    display: flex;
}

.containcontact {
    border: 1px solid blue;
    width: 80%;
}

.information {
    border: 1px solid green;
    width: 60%;
    margin-top: 110px;
}

.download {
    background-color: #FF6464;
    border-radius: 2px;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
}

.picpro {
    border: 1px solid brown;
    width: 40%;
    margin-top: 110px;
    padding-left: 100px;    
}

.picpro img {
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    
}

.midcontentcon {
    border: 1px solid black;
    background-color: #EDF7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headmidcontent{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.boxmidcontent {
    border: 1px solid lightgreen;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.midbox1 {
    border: 1px solid salmon;
    width: 45%;
    height: 200px;
} 

.midbox2 {
    border: 1px solid purple;
    width: 45%;
    height: 200px;
} 

.data9 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content9 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.year {
    border: 1px solid navy;
    border-radius: 5px;
    background-color: navy;
    color: white;
    width: 50px;
    height: 15px;
    text-align: center;
}

.midcontentprofile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.data10 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content10 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.data11 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
}

.content11 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.bottomcontent {
    display: flex;
    justify-content: center;
}

.bottomcontentfram {
    border: 1px solid teal;
    width: 80%;
}


@media (max-width: 375px) {
    .hamnav {
        width: 100%;
    }

    .profile {
        border: 1px solid blue;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .information {
        width: 100%;
        text-align: center;
        margin: 10px 0 50px 0
    }
    
    .picpro {
        width: 100%;
        padding-left: 50px;
        margin: 0;
    }

    .picpro img {
        width: 180px;
        height: 180px;
        margin-top: 16px;
    }

    .data5 {
        flex-wrap: wrap;
    }

    .content5 {
        align-items: center;
        width: 100%;
    }

    .headconwork5 {
        padding-right: 90px;
    }

    .midcontent .year p {
        position: relative;
        left: 0px;
    }
    
    .data6 {
        flex-wrap: wrap;
    }

    .content6 {
        align-items: center;
        width: 100%;
    }

    .headconwork6 {
        padding-right: 66px;
    }

    .data7 {
        flex-wrap: wrap;
    }

    .content7 {
        align-items: center;
        width: 100%;
    }

    .headconwork7 {
        padding-right: 114px;
    }

    .data8 {
        flex-wrap: wrap;
    }

    .content8 {
        align-items: center;
        width: 100%;
    }

    .headconwork8 {
        padding-right: 154px;
    }

    .data9 {
        flex-wrap: wrap;
    }

    .content9 {
        align-items: center;
        width: 100%;
    }

    .headconbottom9 {
        padding-right: 138px;
    }

    .data10 {
        flex-wrap: wrap;
    }

    .content10 {
        align-items: center;
        width: 100%;
    }

    .headconbottom10 {
        padding-right: 115px;
    }

    .data11 {
        flex-wrap: wrap;
    }

    .content11 {
        align-items: center;
        width: 100%;
    }

    .headconbottom11 {
        padding-right: 162px;
    }

    .headmidcontent {
        display: flex;
        justify-content: center;
    }

    .headmidcontent .viewall {
        display: none;
    }

    .boxmidcontent {
        display: flex;
        flex-direction: column;
    }

    .midbox1 {
        width: 100%;
        height: 230px;
    }

    .midbox2 {
        width: 100%;
        height: 230px;
    }
}


/* @media (max-width: 500px) {
    .contain {
        border: 1px solid blue;
        width: 100%;
        transform: translateY(20%);
    }

    .hamnav {
        display: grid;
        position: absolute;
        background: white;
        width: 100%;
        transform: translateY(-130%);
        z-index: 1;
    }

    .hambur {
        display: flex !important;
        border: 1px solid lawngreen;
    }
    
} */